:root {
  --main: #e849e8;
  --main-light: #ff92e6;
  --main-lighest: #ffbff0;

  --lightgrey: #e3e3e3;
  --grey: #ccc;
  --darkgrey: #666;
  --charcoal: #333;
}

* {margin:0; padding:0; box-sizing:border-box;}


body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* Valgomat header */
.valgomat-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}

.logo {
  width: 6em;
}

h1, h2 {
  color: var(--darkgrey);
  text-align: center;
}

h1 {
  font-size: 2.6em;
  font-weight: 700;
}

h2 {
  font-size: 2.3em;
  font-weight: 400;
  line-height: .7;
}

.graph {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 50em;
  margin-bottom: 1em;
}

.bar {
  display: block;
  background-color: var(--charcoal);
  width: 1.2em;
}

/* Valgomat-panel */
.content-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--lightgrey);;
  min-height: 100vh;
}

.valgomat-wrap {
  display: flex;
  max-width: 30em;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 4px 8px #0003;
}

.valgomat-light {
  padding: 3em 4em 2em;
}

.case-blurb {
  padding: 2em;
  background-color: var(--charcoal);
  color: #ccc;
}

.case-blurb > p::before {
  content:'Her er saken:';
  font-weight: 700;
  display: block;
  color: white;
}

/* spørsmål progres */
.progress-bar {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.progress-bar::before,
.progress-bar::after {
  display: block;
  content: '';
  position: absolute;
  top: .3em;
  height: .4em;
}

.progress-bar::after {
  margin: 0 .5em;
  width: 33%;
  background-color: var(--main);
}

.progress-bar::before {
  width: 100%;
  background-color: var(--grey);
}

.progress-active,
.progress-inactive {
  z-index: 1;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.progress-active {
  background-color: var(--main);
}

.progress-inactive {
  background-color: var(--grey);
}

/* valgknapper */
.valgomat-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  position: relative;
}

.valgomat-buttons::before {
  display: block;
  content:'';
  position: absolute;
  top: 1.5em;
  left: 1em;
  background-color: var(--lightgrey);
  width: calc(100% - 2em);
  height: 1.2em;
}

.poll {
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--darkgrey);
}

.poll > div {
  display: block;
  width: 4em;
  height: 4em;
  margin-bottom: 1em;
  border-radius: 50%;

  transition: .3s cubic-bezier(.45,1.46,.75,1);
}

.poll-active {
  background-color: var(--main);
}

.poll-active::before {
  display: block;
  content: '';
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: white;
  animation: pulse-out 2s ease infinite;
}

@keyframes pulse-out {
  from { transform: scale(0); opacity: .8; }
  to   { transform: scale(1); opacity: 0   }
}

.poll-inactive {
  background-color: var(--grey);
  transform: scale(.8);
}

.poll:hover > div,
.poll:active > div {
  background-color: var(--main-light);
  transform: scale(1.2);
}

.poll > p {
  transition: .2s;
}

.poll:hover > p,
.poll:active > p {
  color: var(--main);
}

/* valgomat spørsmål */
.valgomat-question {
  display: flex;
}

.valgomat-question > p {
  margin-top: 3em;
  color: var(--darkgrey);
}

.valgomat-question::before {
  content:'«';
  display: inline-block;
  color: var(--main);
  font-size: 6em;
  margin-right: .1em;
}

/* navbar */
.valgomat-navbar {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbtn-left, .navbtn-right {
  height: 2.5em;
  width: 100%;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.navbtn-right {
  background-image: url('neste.svg');
  background-position: right;
}

.navbtn-right:hover,
.navbtn-right:active {
  background-image: url('neste-h.svg');
}

.navbtn-left {
  background-image: url('forrige.svg');
  background-position: left;
}

.navbtn-left:hover,
.navbtn-left:active {
  background-image: url('forrige-h.svg');
}


.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
