:root {
  --main: #e849e8;
  --main-light: #ff92e6;
  --main-lightest: #ffbff0;

  --lightgrey: #e3e3e3;
  --grey: #ccc;
  --darkgrey: #666;
  --charcoal: #333;
}

* { margin:0; padding:0; box-sizing:border-box; }


body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* Valgomat header */
.valgomat-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}

.logo {
  width: 6em;
}

h1, h2 {
  color: var(--darkgrey);
  text-align: center;
}

h1 {
  font-size: 2.6em;
  font-weight: 700;
}

h2 {
  font-size: 2.3em;
  font-weight: 400;
  line-height: .7;
}

.graph {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 50em;
  margin-bottom: 1em;
}

.bar {
  display: block;
  background-color: var(--charcoal);
  width: 1.2em;
}

/* Valgomat-panel */
.content-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--lightgrey);
  background-image: url('noise.jpg');
  background-position: center;
  min-height: 100vh;
}

#valgomat {
  position: relative;
  width: 100%;
}

.valgomat-full {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto 3em;
  max-width: 30em;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 4px 8px #0003;
}

/* Slide-animasjoner */
.slideout-left {
  animation: slideleft .5s ease-out;
  opacity: 0;
  transform: translateX(-25%);
}

.slidein-left {
  animation: slideleft .5s ease-in;
  animation-direction: reverse;
  opacity: 1;
}

@keyframes slideleft {
  from { opacity: 1; transform: translateX(0);}
  to   { opacity: 0; transform: translateX(-25%);}
}

.slideout-right {
  animation: slideright .5s ease-out;
  transform: translateX(25%);
  opacity: 0;
}

.slidein-right {
  animation: slideright .5s ease-in;
  animation-direction: reverse;
  opacity: 1;
}

@keyframes slideright {
  from { opacity: 1; transform: translateX(0);}
  to   { opacity: 0; transform: translateX(25%);}
}


.valgomat-inner {
  padding: 2em 4em;
}

.case-blurb {
  padding: 2em 4em;
  background-color: var(--charcoal);
  color: #ccc;
}

.case-blurb > p::before {
  content:'Her er saken:';
  font-weight: 700;
  display: block;
  color: white;
}

/* spørsmål progress */
.progress {
  position: relative;
  margin: 3em 2em 1em;
}

.progress-bar-markers {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.progress-bar-fill,
.progress-bar-background {
  height: .4em;
  position: absolute;
  bottom: .3em;
}

.progress-bar-fill {
  /* width: calc(33.3% + .5em); Update for each question */
  background-color: var(--main);
}

.progress-bar-background {
  width: 100%;
  background-color: var(--grey);
}

.progress-active,
.progress-inactive {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.progress-active {
  background-color: var(--main);
}

.progress-inactive {
  background-color: var(--grey);
}

.progress-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -1em 0 1em;
 }


/* TODO: Questions follows the progress bar */
/* .progress-text::after {
  display: block;
  content: '';
  margin-top: .5em;
  width: .4em;
  height: .6em;
  background-color: var(--main);
} */

.progress-text > p {
  white-space: nowrap;
  color: var(--main);
  font-weight: 700;
  font-size: .7em;
}

.progress-text > p > span {
  color: var(--grey);
}

/* valgknapper */
.valgomat-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.valgomat-buttons::before {
  display: block;
  content:'';
  position: absolute;
  top: 1.5em;
  left: 1em;
  background-color: var(--lightgrey);
  width: calc(100% - 2em);
  height: 1.2em;
}

.poll {
  z-index: 1;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--darkgrey);
}

.poll > div {
  display: block;
  width: 4em;
  height: 4em;
  margin-bottom: 1em;
  border-radius: 50%;

  transition: .3s cubic-bezier(.45,1.46,.75,1);
}

.poll-active {
  background-color: var(--main);
}

.poll-active::before {
  display: block;
  content: '';
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: white;
  animation: pulse-out 2s ease infinite;
}

@keyframes pulse-out {
  0%   { opacity:  0; transform: scale(.15); }
  30%  { opacity: .5; }
  100% { opacity:  0; transform: scale(1);   }
}

.poll-inactive {
  background-color: var(--grey);
  transform: scale(.8);
}

.poll:hover > div,
.poll:active > div {
  background-color: var(--main-light);
  transform: scale(1.1);
}

.poll:hover > .poll-inactive,
.poll:active > .poll-inactive {
  transform: scale(.95);
}

.poll > p {
  transition: .2s;
}

.poll:hover > p,
.poll:active > p {
  color: var(--main);
}

/* valgomat spørsmål */
.valgomat-question {
  display: flex;
}

.valgomat-question > p {
  color: var(--darkgrey);
  margin-bottom: 2em;
}

.valgomat-question::before {
  content:'«';
  margin-top: -0.45em;
  display: inline-block;
  color: var(--main);
  font-size: 6em;
  margin-right: .1em;
}

/* navbar */
.valgomat-navbar {
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbtn-left, .navbtn-right {
  height: 2.5em;
  width: 100%;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.navbtn-right {
  background-image: url('neste.svg');
  background-position: right;
}

.navbtn-right:hover,
.navbtn-right:active {
  background-image: url('neste-h.svg');
}

.navbtn-right-disabled {
  background-image: url('neste-d.svg') !important;
  cursor: default;
}

.navbtn-left {
  background-image: url('forrige.svg');
  background-position: left;
}

.navbtn-left:hover,
.navbtn-left:active {
  background-image: url('forrige-h.svg');
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
