* {margin:0; padding:0; box-sizing:border-box;}

body {
  font-size: 16px;
}


/* VALGKNAPP */
.valgknapp {
  display: inline-block;
  width: 10em;
  height: 10em;
}

.valgknapp:hover {
  opacity: .8;
}

.valgknapp:active {
  opacity: .5;
}

.disagree {
  background-color: red
}

.neutral {
  background-color: darkgrey;
}

.agree {
  background-color: green;
}

.graph {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 80em;
}

.bar {
  display: block;
  background-color: black;
  width: 1.2em;
}
